.container {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    font-family: arial;
    width: 500px;
}

.container1 {
    border: 2px solid black;
    padding: 15px;
    text-align: left;
    font-family: arial;
    width: 300px;
}
.nama {
    text-decoration: none;
    color: brown;
}

.tombol-kembali {
    text-decoration: none;
    color: burlywood;

}

.tombol {
    margin-top: 20px;
    background: gray;
}

.background-text {
    color: antiquewhite;
    background: #DC143C;
    border: 1px solid black;
    font-size:14px;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 50px;
}